<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%
    var title = titlecase(page.title);

    if (is_archive()) {
        title = __('Page.Archives');
    } else if (is_category()) {
        title = __('Page.Categories') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('Page.Tags') + ': ' + page.tag;
    }
    %>

    <%
    var description = page.description || page.title
    if (page.tags && page.tags.length) {
        var tags = []
        page.tags.forEach((tag) => {
            tags.push(tag.name)
        })
        description += ';' + tags.join(',')
    }
    %>
    <meta name="description" content="<%= description || config.description %>" />
    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= theme.title || config.title %> </title>

    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
    <% } %>

    <%- css('nayo.min') %>
</head>